.zen-maru-gothic-regular {
  font-family: "Zen Maru Gothic", sans-serif;
  font-weight: 400;
  font-style: normal;
}
/**
 * Extra rules that Pure adds on top of Normalize.css
 */

html {
    font-family:"Zen Maru Gothic", sans-serif;
}
body{
	font-family:"Zen Maru Gothic", sans-serif !important;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*
 * -- BASE STYLES --
 * Most of these are inherited from Base, but I want to change a few.
 */
body {
    line-height: 1.7em;
    color: #7f8c8d;
    font-size: 13px;
}

h1,
h2,
h3,
h4,
h5,
h6,
label {
    color: #34495e;
}

.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

/*
 * -- LAYOUT STYLES --
 * These are some useful classes which I will need
 */
.l-box {
    padding: 1em;
}

.l-box-lrg {
    padding: 2em;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.is-center {
    text-align: center;
}



/*
 * -- PURE FORM STYLES --
 * Style the form inputs and labels
 */
.pure-form label {
    margin: 1em 0 0;
    font-weight: bold;
    font-size: 100%;
}

.pure-form input[type] {
    border: 2px solid #ddd;
    box-shadow: none;
    font-size: 100%;
    width: 100%;
    margin-bottom: 1em;
}

/*
 * -- PURE BUTTON STYLES --
 * I want my pure-button elements to look a little different
 */
.pure-button {
    background-color: #1f8dd6;
    color: white;
    padding: 0.5em 2em;
    border-radius: 5px;
}

a.pure-button-primary {
    background: white;
    color: #1f8dd6;
    border-radius: 5px;
    font-size: 120%;
}


/*
 * -- MENU STYLES --
 * I want to customize how my .pure-menu looks at the top of the page
 */

.home-menu {
    padding: 0.5em;
    text-align: center;
    box-shadow: 0 1px 1px rgba(0,0,0, 0.10);
}
.home-menu {
    background: #2d3e50;
}
.pure-menu.pure-menu-fixed {
    /* Fixed menus normally have a border at the bottom. */
    border-bottom: none;
    /* I need a higher z-index here because of the scroll-over effect. */
    z-index: 4;
}

.home-menu .pure-menu-heading {
    color: white;
    font-weight: 400;
    font-size: 120%;
}

.home-menu .pure-menu-selected a {
    color: white;
}

.home-menu a {
    color: #6FBEF3;
}
.home-menu li a:hover,
.home-menu li a:focus {
    background: none;
    border: none;
    color: #AECFE5;
}


/*
 * -- SPLASH STYLES --
 * This is the blue top section that appears on the page.
 */

.splash-container {
    background: #1f8dd6;
    z-index: 1;
    overflow: hidden;
    /* The following styles are required for the "scroll-over" effect */
    width: 100%;
    height: 88%;
    top: 0;
    left: 0;
    position: fixed !important;
}

.splash {
    /* absolute center .splash within .splash-container */
    width: 80%;
    height: 50%;
    margin: auto;
    position: absolute;
    top: 100px; left: 0; bottom: 0; right: 0;
    text-align: center;
    text-transform: uppercase;
}

/* This is the main heading that appears on the blue section */
.splash-head {
    font-size: 20px;
    font-weight: bold;
    color: white;
    border: 3px solid white;
    padding: 1em 1.6em;
    font-weight: 100;
    border-radius: 5px;
    line-height: 1em;
}

/* This is the subheading that appears on the blue section */
.splash-subhead {
    color: white;
    letter-spacing: 0.05em;
    opacity: 0.8;
}

/*
 * -- CONTENT STYLES --
 * This represents the content area (everything below the blue section)
 */
.content-wrapper {
    /* These styles are required for the "scroll-over" effect */
    position: absolute;
    top: 87%;
    width: 100%;
    min-height: 12%;
    z-index: 2;
    background: white;

}

/* We want to give the content area some more padding */
.content {
    padding: 1em 1em 3em;
}

/* This is the class used for the main content headers (<h2>) */
.content-head {
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin: 2em 0 1em;
}

/* This is a modifier class used when the content-head is inside a ribbon */
.content-head-ribbon {
    color: white;
}

/* This is the class used for the content sub-headers (<h3>) */
.content-subhead {
    color: #1f8dd6;
}
    .content-subhead i {
        margin-right: 7px;
    }

/* This is the class used for the dark-background areas. */
.ribbon {
    background: #2d3e50;
    color: #aaa;
}

/* This is the class used for the footer */
.footer {
    background: #111;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/*
 * -- TABLET (AND UP) MEDIA QUERIES --
 * On tablets and other medium-sized devices, we want to customize some
 * of the mobile styles.
 */
@media ( min-width : 48em ){

    /* We increase the body font size */
    body {
        font-size: 16px;
    }

    /* We can align the menu header to the left, but float the
    menu items to the right. */
    .home-menu {
        text-align: left;
    }
        .home-menu ul {
            float: right;
        }

    /* We increase the height of the splash-container */
/*    .splash-container {
        height: 500px;
    }*/

    /* We decrease the width of the .splash, since we have more width
    to work with */
    .splash {
        width: 50%;
        height: 50%;
    }

    .splash-head {
        font-size: 250%;
    }


    /* We remove the border-separator assigned to .l-box-lrg */
    .l-box-lrg {
        border: none;
    }

}

/*
 * -- DESKTOP (AND UP) MEDIA QUERIES --
 * On desktops and other large devices, we want to over-ride some
 * of the mobile and tablet styles.
 */
@media (min-width: 78em) {
    /* We increase the header font size even more */
    .splash-head {
        font-size: 300%;
    }
}

/*ここまでPureCSSのレスポンシブ設定*/

html {
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}


h2{
	color:#747887;
	font-size:22px;
  font-weight: 600;
}
h3{
	color:#747887;
	font-size: 22px
}
h4{
	color:#38607B;
	font-size: 20px;
	padding:0 5px 0 5px;
}
p{
    margin-top: 30px;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 30px;
		font-size:17px;
}

.pure-g, 
.pure-g * {
  font-family: "Zen Maru Gothic", sans-serif !important;
}

.pure-button{
	background-color: #ADC6C6;
}

.text{
	text-align: left;
    padding:10px;
}
.main{
  max-width: 1200px;
  display:flex;
  margin:50px 10% 50px 15%;
}
.rogo{
	margin:10px 10px 10px 10px;
	max-height: 45px;
	width: auto;    
  	height: auto;   
}
.info{
	margin: 10px 0px 10px 0px;
	padding: 10px;
	width:50px;
	height: 50px;
	font-size: 20px;
}
.button-area{
	  text-align: right;   /* ← これで右寄せ */
	padding-right: 20px;
}
.bgimg{
    background-image: url(../img/eyecatch.png);
	background-size:cover;
    width: auto;
    padding-top: 200px;
    padding-bottom: 200px;
	background-repeat: no-repeat;
  background-position: center;
	
}

.menu{
	color:aliceblue;
	 padding: 40px 0px 40px 0px;
    background-color: #19B4AA;
}

.home-img{
	max-width: 700px;
    padding-top: 30px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 30px;
    object-fit: cover;
}
.concept-img{
	object-fit: cover;
	max-width: 1000px;
	width:80%;
	height: 400px;

}
.hero {
  position: relative; 
  width: 100%;
  overflow: hidden;
}
.about{
	padding:10px 20px 10px 20px;
	text-align: center;
}
.copy{
	max-width: 800px;
	width:60%;

	top:50%;
	text-align: center;
}

.concept{
	background-color:#E8EDED;
	padding: 50px;
	display: flex;
  justify-content: flex-end; /* ← 中身を右に寄せる */
  align-items: center;       /* ← 縦方向の位置も調整可 */
	margin-top: 50px;
}
.tategaki {
 writing-mode: vertical-rl;
  text-orientation: upright;
  font-family: "Zen Maru Gothic", sans-serif;
  font-size: 15px;
	padding:4%;
}
.photo{
	
	object-fit: cover;
	height: 200px;
	width:100%;
	margin: auto;
	flex-wrap: wrap;
	
}
.prf {
    display: flex;          /* ←ここをflexにする！ */
    justify-content: space-between; /* ←左右にきれいに分ける */
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0;
    margin-top: 50px;
}

.prftext{
    flex: 1;                
    justify-content: flex-end;
	text-align: right;
    margin-top: auto;
    margin-right: 60px;
    margin-left: auto;
    margin-bottom: auto;
}

.mochita {   
   flex: 1;    
  justify-content: flex-start; /* ←左寄せ（中央にしたければ center） */
  align-items: center;  /* ←縦方向を中央揃え */
 object-fit: contain;
}


.mochitaimg {
max-width: 140px;
  width: auto;          /* ←縦に合わせて横は自動調整 */
  object-fit:contain;  /* ←画像の縦横比を保つ */
  display: block;       /* ←下にできる謎の余白防止 */
margin-left:0;
 max-height: 520px;
}



.momozaki {   
   flex: 1;    
  justify-content: flex-end; 
  align-items: center;  /* ←縦方向を中央揃え */
 object-fit: contain;
	display: flex
}


.momozakiimg {
	max-width: 200px;
    max-height: 500px;
    width: auto;          /* ←縦に合わせて横は自動調整 */
    object-fit: contain;  /* ←画像の縦横比を保つ */
    text-align: right; 

}

.prftext2 {
    flex: 1;                /* ←残りの幅を使う */
    justify-content: flex-start;
	text-align: left;
    margin-top: auto;
    margin-right: auto;
    margin-left: 60px;
    margin-bottom: auto;
}



.name{
	margin-top: 80px;
	margin-bottom: 50px;
}
.video{
	max-width: 800px;
	width:80%;
	height: 350px;
	object-fit: cover;
}

.log{
	margin-top: 20px;
	margin-bottom: 40px;
	background-color:#E8EDED;
	padding: 10px;
	padding-bottom: 70px;
  align-items: center;       /* ← 縦方向の位置も調整可 */
	
}

.shiryou{
	max-width: 400px;
	width: 30%;
	height: auto;
	position: relative;
	padding-bottom: 40px;
}

.yohaku{
	margin-top:64px; 
}

dt{
clear:both;
color:#7eb774;
float:left;
font-weight:700;
margin:0 0 20px 30px;
width:12em
}
dd{
border-bottom:1px solid;
margin:0 17% 15px 25%
}


/*ほにょほにょ円*/
.blob1 {
position: absolute;
  top: -10%;  /* 配置したい位置をここで調整 */
  left: 60%;
  transform: translate(-50%, -50%);
  max-width: 330px;
  min-width: 190px;
  width: 34%;
  height: 200px;
  background: #FFAA83;
  border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  animation: blobMorph 8s ease-in-out infinite;
  z-index: 2;
}
.blob2{
	 top: 80%;  /* 配置したい位置をここで調整 */
  left: 16%;
	max-width: 260px;
	min-width: 130px;
 width: 24%;
  height: 170px;
  background: #79AAFF;
	animation-delay: 1s;
}

@keyframes blobMorph {
  0% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    transform: scale(1);
  }
  33% {
    border-radius: 40% 60% 70% 30% / 50% 60% 40% 60%;
    transform: scale(1.05);
  }
  66% {
    border-radius: 50% 30% 60% 50% / 30% 50% 60% 70%;
    transform: scale(0.97);
  }
  100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    transform: scale(1);
  }
}

/*ポップアップウィンドウ*/
.popup {
  display: none;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
}

.popup-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.popup-card {
  background: #fff;
  border-radius: 12px;
  max-width: 800px;
  width: 70%;
  height: 400px;
  display: flex;
  overflow: hidden;
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
  animation: fadeIn 0.4s ease;
}

  .popup-image {
  background-size: cover;     /* ←全体を収める */
  background-repeat: no-repeat;
  background-position: center;  /* ←中央に寄せる */
  background-color: #9be8ff;    
  flex: 5;
  height: 100%;
}


.popup-text {
  flex: 2;
  padding: 1em;
  font-family: "Zen Maru Gothic", sans-serif;
}

.close {
  position: absolute;
  top: 20px;
  right: 40px;
  color: white;
  font-size: 36px;
  cursor: pointer;
}

@keyframes fadeIn {
  from {opacity: 0; transform: scale(0.9);}
  to {opacity: 1; transform: scale(1);}
}

.gallery {
  display: grid;
  gap: 4px;
  margin: 40px auto;
  max-width: 1000px;
  width: 75%; 
  grid-template-columns: repeat(4, 1fr); /* 4列固定 */
}

.gallery img:hover {
  transform: scale(1.05);
}
