.zen-maru-gothic-regular {
  font-family: "Zen Maru Gothic", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.zen-kaku-gothic-new-regular {
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-weight: 400;
  font-style: normal;
}
/**
 * Extra rules that Pure adds on top of Normalize.css
 */

html {
    font-family:"Zen Maru Gothic", sans-serif;
}
body{
	 font-family: "Zen Kaku Gothic New", sans-serif;
  font-weight: 400;
  font-style: normal !important;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*
 * -- BASE STYLES --
 * Most of these are inherited from Base, but I want to change a few.
 */
body {
    line-height: 1.7em;
    color: #7f8c8d;
    font-size: 13px;
}

h1,
h2,
h3,
h4,
h5,
h6,
label {
    color: #34495e;
}

.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

/*
 * -- LAYOUT STYLES --
 * These are some useful classes which I will need
 */
.l-box {
    padding: 1em;
}

.l-box-lrg {
    padding: 2em;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.is-center {
    text-align: center;
}



/*
 * -- PURE FORM STYLES --
 * Style the form inputs and labels
 */
.pure-form label {
    margin: 1em 0 0;
    font-weight: bold;
    font-size: 100%;
}

.pure-form input[type] {
    border: 2px solid #ddd;
    box-shadow: none;
    font-size: 100%;
    width: 100%;
    margin-bottom: 1em;
}

/*
 * -- PURE BUTTON STYLES --
 * I want my pure-button elements to look a little different
 */
.pure-button {
    background-color: #1f8dd6;
    color: white;
    padding: 0.5em 2em;
    border-radius: 5px;
}

a.pure-button-primary {
    background: white;
    color: #1f8dd6;
    border-radius: 5px;
    font-size: 120%;
}


/*
 * -- MENU STYLES --
 * I want to customize how my .pure-menu looks at the top of the page
 */

.home-menu {
    padding: 0.5em;
    text-align: center;
    box-shadow: 0 1px 1px rgba(0,0,0, 0.10);
}
.home-menu {
    background: #2d3e50;
}
.pure-menu.pure-menu-fixed {
    /* Fixed menus normally have a border at the bottom. */
    border-bottom: none;
    /* I need a higher z-index here because of the scroll-over effect. */
    z-index: 4;
}

.home-menu .pure-menu-heading {
    color: white;
    font-weight: 400;
    font-size: 120%;
}

.home-menu .pure-menu-selected a {
    color: white;
}

.home-menu a {
    color: #6FBEF3;
}
.home-menu li a:hover,
.home-menu li a:focus {
    background: none;
    border: none;
    color: #AECFE5;
}


/*
 * -- SPLASH STYLES --
 * This is the blue top section that appears on the page.
 */

.splash-container {
    background: #1f8dd6;
    z-index: 1;
    overflow: hidden;
    /* The following styles are required for the "scroll-over" effect */
    width: 100%;
    height: 88%;
    top: 0;
    left: 0;
    position: fixed !important;
}

.splash {
    /* absolute center .splash within .splash-container */
    width: 80%;
    height: 50%;
    margin: auto;
    position: absolute;
    top: 100px; left: 0; bottom: 0; right: 0;
    text-align: center;
    text-transform: uppercase;
}

/* This is the main heading that appears on the blue section */
.splash-head {
    font-size: 20px;
    font-weight: bold;
    color: white;
    border: 3px solid white;
    padding: 1em 1.6em;
    font-weight: 100;
    border-radius: 5px;
    line-height: 1em;
}

/* This is the subheading that appears on the blue section */
.splash-subhead {
    color: white;
    letter-spacing: 0.05em;
    opacity: 0.8;
}

/*
 * -- CONTENT STYLES --
 * This represents the content area (everything below the blue section)
 */
.content-wrapper {
    /* These styles are required for the "scroll-over" effect */
    position: absolute;
    top: 87%;
    width: 100%;
    min-height: 12%;
    z-index: 2;
    background: white;

}

/* We want to give the content area some more padding */
.content {
    padding: 1em 1em 3em;
}

/* This is the class used for the main content headers (<h2>) */
.content-head {
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin: 2em 0 1em;
}

/* This is a modifier class used when the content-head is inside a ribbon */
.content-head-ribbon {
    color: white;
}

/* This is the class used for the content sub-headers (<h3>) */
.content-subhead {
    color: #1f8dd6;
}
    .content-subhead i {
        margin-right: 7px;
    }

/* This is the class used for the dark-background areas. */
.ribbon {
    background: #2d3e50;
    color: #aaa;
}

/* This is the class used for the footer */
.footer {
    background: #111;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/*
 * -- TABLET (AND UP) MEDIA QUERIES --
 * On tablets and other medium-sized devices, we want to customize some
 * of the mobile styles.
 */
@media ( min-width : 48em ){

    /* We increase the body font size */
    body {
        font-size: 16px;
    }

    /* We can align the menu header to the left, but float the
    menu items to the right. */
    .home-menu {
        text-align: left;
    }
        .home-menu ul {
            float: right;
        }

    /* We increase the height of the splash-container */
/*    .splash-container {
        height: 500px;
    }*/

    /* We decrease the width of the .splash, since we have more width
    to work with */
    .splash {
        width: 50%;
        height: 50%;
    }

    .splash-head {
        font-size: 250%;
    }


    /* We remove the border-separator assigned to .l-box-lrg */
    .l-box-lrg {
        border: none;
    }

}

/*
 * -- DESKTOP (AND UP) MEDIA QUERIES --
 * On desktops and other large devices, we want to over-ride some
 * of the mobile and tablet styles.
 */
@media (min-width: 78em) {
    /* We increase the header font size even more */
    .splash-head {
        font-size: 300%;
    }
}

/*ここまでPureCSSのレスポンシブ設定*/

html {
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover,
a:focus,
a:active {
    text-decoration: none;
    color: #34495e;
}


h2{
    color: #747887;
    font-size: 22px;
    font-weight: 600;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: auto;
    border-bottom: thin solid darkgray;
    padding-bottom: 20px;
    width: 180px;
}
h3{
	margin: 0 auto;
    color: #747887;
    font-size: 22px;
    border-bottom: thin solid darkgray;
	padding-bottom: 20px;
	width: 200px;
}
h4{
	color:#38607B;
	font-size: 20px;
	padding:0 5px 0 5px;
}
p{
    margin-top: 30px;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 30px;
		font-size:17px;
}
dt{
clear:both;
color:#24A89F;
float:left;
font-weight:700;
margin:0 0 20px 8%;
width:12em}
dd{
border-bottom:1px solid;
margin:0 17% 15px 25%;
color:#235F5F;
}


.pure-g, 
.pure-g * {
   font-family: "Zen Kaku Gothic New", sans-serif !important;
}

.pure-button{
	background-color: #19B4AA;
}

.text{
	text-align: left;
    padding:10px;
}
.main{
  max-width: 1200px;
  display:flex;
  margin:50px 10% 50px 15%;
}
.rogo{
	margin:10px 10px 10px 10px;
	max-height: 45px;
	width: auto;    
  	height: auto;   
}
.info{
	margin: 10px 0px 10px 0px;
	padding: 10px;
	width:50px;
	height: 50px;
	font-size: 20px;
}
.button-area{
	  text-align: right;   /* ← これで右寄せ */
	padding-right: 20px;
}
.bgimg{
    background-image: url(../img/eyecatch.png);
	background-size:cover;
    width: auto;
    padding-top: 100px;
    padding-bottom: 100px;
	background-repeat: no-repeat;
  background-position: center;
	
}

.menu{
	color:aliceblue;
	 padding: 40px 0px 40px 0px;
    background-color: #19B4AA;

}

.home-img{
    max-width: 700px;
    padding-top: 30px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 30px;
    object-fit: cover;
}
.concept-img{
	object-fit: cover;
	max-width: 1000px;
	width:80%;
	height: 400px;

}
.hero {
  position: relative; 
  width: 100%;
  overflow: hidden;
}
.about{
	padding:10px 20px 20px 20px;
	text-align: center;
}
.copy{
	position: relative;
	max-width: 800px;
	width:90%;
	top:60%;
	text-align: center;
	z-index: 100;
}
.icons{
	padding-bottom: 20px;
	margin-top: 0px;
}
.icon{
	width: 250px;
	height: auto;
	position: relative;
	margin-top:30px;
	margin-bottom: 0;
	padding: 0;
	
}
.icontext{
	padding: 0;
	margin-top: 0;
	margin-bottom: 30px;
	text-align: center;
	
}
.concept{
	background-color:#E4F3F2;
	padding: 50px;
	padding-bottom: 70px;
	display: flex;
  justify-content: flex-end;
  align-items: center;      
	margin-top: 50px;

}
.tategaki {
 writing-mode: vertical-rl;
  text-orientation: upright;
   font-family: "Zen Kaku Gothic New", sans-serif;
  font-size: 15px;
	padding:4%;
}
.photo{
	
	object-fit: cover;
	height: 200px;
	width:100%;
	margin: auto;
	flex-wrap: wrap;
	
}
.prf {
    display: flex;      
    justify-content: space-between; 
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0;
    margin-top: 50px;
}

.prftext{
    flex: 1;                
    justify-content: flex-end;
	text-align: right;
    margin-top: auto;
    margin-right: 60px;
    margin-left: auto;
    margin-bottom: auto;
}

.mochita {   
   flex: 1;    
  justify-content: flex-start;
  align-items: center; 
 object-fit: contain;
}


.mochitaimg {
max-width: 140px;
  width: auto;        
  object-fit:contain; 
  display: block;     
margin-left:0;
 max-height: 460px;
}



.momozaki {   
   flex: 1;    
  justify-content: flex-end; 
  align-items: center;  /* ←縦方向を中央揃え */
 object-fit: contain;
	display: flex
}


.momozakiimg {
	max-width: 200px;
    max-height: 430px;
    width: auto;          /* ←縦に合わせて横は自動調整 */
    object-fit: contain;  /* ←画像の縦横比を保つ */
    text-align: right; 

}

.prftext2 {
    flex: 1;                /* ←残りの幅を使う */
    justify-content: flex-start;
	text-align: left;
    margin-top: auto;
    margin-right: auto;
    margin-left: 60px;
    margin-bottom: auto;
}



.name{
	margin-top: 80px;
	margin-bottom: 50px;
}
.video{
	max-width: 800px;
	width:80%;
	height: 280px;
	object-fit: cover;
	 border-radius: 10px;
}

.log{
	margin-top: 20px;
	margin-bottom:0px;
	background-color:#E4F3F2;
	padding: 10px;
	padding-bottom: 70px;
  align-items: center;       /* ← 縦方向の位置も調整可 */
	
}

.shiryou{
	max-width: 400px;
	width: 30%;
	height: auto;
	position: relative;
	border-radius: 10px;
	margin-bottom: 40px;
}

.yohaku{
	margin-top:64px; 
}

.gallery {
  display: grid;
  gap: 4px;
  margin: 40px auto;
  max-width: 1000px;
  width: 75%; 
  grid-template-columns: repeat(4, 1fr); /* 4列固定 */
}

.gallery img:hover {
  transform: scale(1.05);
}

.tab{
	font-size: 19px;
}

.news {
	background-color:#E4F3F2;
	color:currentColor;
	padding-top: 70px;
	padding-bottom: 60px;
	
}
.news h3{
color:#3E6D78;
border-bottom-color: #3E6D78;
}

.log h3{
color:#3E6D78;
border-bottom-color: #3E6D78;
}
.sample{
	width: 480px;
	height: auto;
	position: relative;
}
#toTopBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 15px;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  background-color: #ffa87ab3;
  color: white;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s;
}

#toTopBtn.show {
  opacity: 1;
  pointer-events: auto;
}

.foot{
	margin-top: 0;
	text-align: right;
	padding: 5px 10px 5px;
	background: #2A505D;
	color:#FFFFFF;
	font-size:12px;
	width: 100%;
}

.footup {
	text-align: center;
	margin: auto;
	margin-bottom: 20px;
	padding: 0;
	width: 70%;
}

.pure-u-md-2-5 {
	position: relative; 
	display: inline-block; 
}

.foot-img {
	display: block;
	max-width: 400px;
	width: 90%;
	height: auto;
	border-radius: 10px;
	margin: 15% auto 10% auto; 
	transition: filter 0.3s ease;
}

.pure-u-md-2-5:hover .foot-img {
	filter: brightness(0.3); /* 暗くする */
}

.overlay-text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	font-size: 1.2em;
	opacity: 0;
	transition: opacity 0.3s ease;
	pointer-events: none;
	text-align: center;
	width: 80%;
}

.pure-u-md-2-5:hover .overlay-text {
	opacity: 1;
}


/*ほにょほにょ円*/
.blob1 {
position: absolute;
  top: -20%;  /* 配置したい位置をここで調整 */
  left: 65%;
  transform: translate(-50%, -50%);
  max-width: 800px;
  min-width: 300px;
  width: 50%;
  height: 65%;
  background: #FFAA83;
  border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  animation: blobMorph 8s ease-in-out infinite;
  z-index: 2;
  opacity: 0.9; /* 半透明 */
}
.blob2{
	 top: 60%;  /* 配置したい位置をここで調整 */
  left: -20%;
 max-width: 800px;
  min-width: 300px;
  width: 60%;
  height: 70%;
  background: #79AAFF;
	animation-delay: -1s;
}

@keyframes blobMorph {
  0% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    transform: scale(1);
  }
  33% {
    border-radius: 40% 60% 70% 30% / 50% 60% 40% 60%;
    transform: scale(1.05);
  }
  66% {
    border-radius: 50% 30% 60% 50% / 30% 50% 60% 70%;
    transform: scale(0.97);
  }
  100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    transform: scale(1);
  }
}

/*ポップアップウィンドウ*/
.popup {
  display: none;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
}

.popup-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.popup-card {
  background: #fff;
  border-radius: 12px;
  max-width: 800px;
  width: 80%;
  height: 450px;
  display: flex;
  overflow: hidden;
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
  animation: fadeIn 0.4s ease;
}

  .popup-image {
  background-size: cover;     
  background-repeat: no-repeat;
  background-position: center;  
  background-color: #9be8ff;    
  flex: 3;
  height: 100%;
}


.popup-text {
  flex: 1;
  padding: 1em;
  font-family: "Zen Kaku Gothic New", sans-serif;
}

.close {
  position: absolute;
  top: 20px;
  right: 40px;
  color: white;
  font-size: 36px;
  cursor: pointer;
}

@keyframes fadeIn {
  from {opacity: 0; transform: scale(0.9);}
  to {opacity: 1; transform: scale(1);}
}

#loading {
  position: fixed;
  z-index: 9999;
  background: #76c7c8;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

#loading p {
  margin-top: 20px;
  font-size: 18px;
  color: #fff;
  letter-spacing: 1px;
  text-align: center;}

.dot-flower {
  position: relative;
  width: 60px; height: 60px;
  animation: spin 1.2s linear infinite;
}
.dot {
  position: absolute;
  width: 14px; height: 14px;
  border-radius: 50%;
  background: #ffffff;
  top: 23px; left: 23px;
  opacity: 0.9;
}
.dot1 { transform: rotate(0deg)   translateY(-22px);}
.dot2 { transform: rotate(60deg)  translateY(-22px);}
.dot3 { transform: rotate(120deg) translateY(-22px);}
.dot4 { transform: rotate(180deg) translateY(-22px);}
.dot5 { transform: rotate(240deg) translateY(-22px);}
.dot6 { transform: rotate(300deg) translateY(-22px);}
@keyframes spin {
  0% { transform: rotate(0deg);}
  100% { transform: rotate(360deg);}
}
#loading {
  transition: opacity 0.5s ease;
}